body {
    min-height: 100vh;
    min-width: 100vh;
    background-color: #5d1da5;
    color: white;
    background: radial-gradient(circle, #350F60 25%, transparent 26%),radial-gradient(circle at bottom left, #350F60 12%, transparent 13%),radial-gradient(circle at bottom right, #350F60 12%, transparent 13%),radial-gradient(circle at top left, #350F60 12%, transparent 13%),radial-gradient(circle at top right, #350F60 12%, transparent 13%);
    background-size: 2em 2em;
    background-color: #5d1da5;
    opacity: 1
  }
  
  h1 {
      margin-left: 45%;
      font-weight: 700;
      font-size: 50px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  p {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .actions {
      display: flex;
      justify-content: center;
  }
  
  .actions button {
      padding: 8px 16px;
      font-size: 30px;
      border-radius: 10px;
      background-color: #ca841a;
      color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .grid-container {
    display: grid;
    justify-content: center;
    grid-gap: 16px;
    grid-template-columns: repeat(6, 140px);
    grid-template-rows: repeat(2, calc(140px / 2 * 3));
  }

  .navigation {
    background-color: #ca841a;
    width: 300px;
    float: left;
    text-align: center;
  }

  a {
    color:  #ca841a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .card {
    height: calc(140px / 2 * 3);
    width: 140px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
  }
  
  .front-image {
    width: 60px;
    height: 60px;
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .front, .back {
      backface-visibility: hidden;
      position: absolute;
      border-radius: 10px;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
  }
  
  .card .front {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card .back {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='60' height='30' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M1-6.5v13h28v-13H1zm15 15v13h28v-13H16zm-15 15v13h28v-13H1z'  stroke-width='1' stroke='none' fill='hsla(39, 59%, 59%, 1)'/><path d='M31-6.5v13h28v-13H31zm-45 15v13h28v-13h-28zm60 0v13h28v-13H46zm-15 15v13h28v-13H31z'  stroke-width='1' stroke='none' fill='hsla(339.6,82.2%,51.6%,1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    background-position: center center;
    background-size: cover;
    backface-visibility: hidden;
  }
  
  .card .front {
    transform: rotateY(180deg);
  }

  .container {
    height: 5000px;
    display: flex;
    position: absolute;
  

}

#toolbar {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 300px;
    height: 0px;
    background-color: #5d1da5;
    float: left;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#toolbar * {
    margin-bottom: 6px;
}

#toolbar label {
    font-size: 12px;
}

#toolbar input {
    width: 100%;
}

#toolbar button {
    background-color: #ca841a;
    border: none;
    border-radius: 4px;
    color:white;
    padding: 2px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: white;
    border: none;
    color: #ca841a;
    padding: 8px 0px;
    text-decoration: none;
    margin: 4px 0px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  input[type=file] {
    background-color: #ca841a;
    border: none;
    color: white;
    padding: 8px 0px;
    text-decoration: none;
    margin: 4px 0px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*text-align: center;*/
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 300px;
    float: left;
  }
  